/* Fonts */
/* APP.CSS CONTAINS CSS FOR ALL APP COMPONENTS. */

/* white #ffffff	gray #424242	 blue #7083f1 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
    margin: 0px;
	padding: 0px;
}

:root {
	--white_main: #ffffff;
	--gray_main: #383838ec;
	--blue_main: #7083f1;
}

.bold {
	font-family: "IBM Plex Sans", sans-serif;
}

.input-search-bar {

}
.input-search-bar:focus {
	outline: none;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    height: 14vh;
    background: #424242;
    color: white;
    z-index: 2;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    display: block;
} 

.nav-container {
    overflow: hidden;
    width: calc(100% - 60px);
    height: 100%;
}

.nav-waygo-logo-img {
    width: 6vw;
    height: 6vh;
    padding: 5px;
    border: none;
}

.nav-container a {
    font-size: 16px;
    float: left;
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-decoration: none;
    transition: 0.15s ease;
    margin-left: 20px;
    margin-right: 20px;
    /* line-height: 12vh;        makes button height too large */
    transform: translate(0, 200%);

}

.nav-container a:hover {
    color: black;
}

.nav-left {
    float: left;
    margin-left: 6%;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.nav-right {
    float: right;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 0;
    height: auto;
}

/* @media screen and (max-width: 768px) {
	body {
		display: none;
	}
} */

/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */