/* Fonts */
/* APP.CSS CONTAINS CSS FOR ALL APP COMPONENTS. */

/* white #ffffff	gray #424242	 blue #7083f1 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


body, html, #root, .app, .container {
    width: 100%;
    height: 100%;
    margin: 0px;
	padding: 0px;
}

:root {
	--white_main: #ffffff;
	--gray_main: #383838ec;
	--blue_main: #7083f1;
	--home_dock_bg: #34343b;
}

.hidden {
	display: none;
}