/* MAP COMPONENT */

.map-container {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.map {
	height: 100%;
	width: 100%;
	cursor: normal;
}

.map-marker {
	display: block;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 0;
	z-index: 59;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}
.map-popup {
	max-width: 200px;
	z-index: 59;
}

.waygo-logo {
    width: 80px;
    height: 60px;
    text-decoration: none;
    color: var(--white_main);
    transition: 0.15s;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 12px;
}

.waygo-logo:hover {
    text-decoration: none;
    color: var(--blue_main)
}

.map-hud-cards-col {
	width: 40%;
	max-width: 420px;
	min-width: 350px;
	z-index: 999;
	position: absolute;
	left: 50px;
	top: 25px;
}

.map-search-bar-card {
	width: 100%;
	max-width: 370px;
	min-width: 350px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 0px 12px 6px rgba(15, 15, 15, 0.2);
	border-radius: 6px;
}
.search-bar-button {
	width: 30px;
	height: 80%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 6px;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.search-bar-button:hover > .search-bar-button__burger {
	background: rgb(47, 160, 212);
}
.search-bar-button:hover > .search-bar-button__burger::after {
	background: rgb(47, 160, 212);
}
.search-bar-button:hover > .search-bar-button__burger::before {
	background: rgb(47, 160, 212);
}
.search-bar-button__burger {
	height: 8%;
	width: 70%;
	background: gray;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
	transition: all 0.1s ease-in-out;
}
.search-bar-button__burger::before,
.search-bar-button__burger::after {
	content: '';
	position: absolute;
	height: 8%;
	width: 70%;
	background: gray;
	border-radius: 20px;
	transition: all 0.1s ease-in-out;
}
.search-bar-button__burger::before {
	transform: translateY(-6.7px);
}
.search-bar-button__burger::after {
	transform: translateY(6.5px);
}
.map-search-bar-search {
	width: 70%;
	height: 90%;
	position: absolute;
	left: 40px;
	border-radius: 4px;
	border: none;
	font-size: 19px;
	font-family: "Ubuntu", sans-serif;
}

.show-dirs-searchbar-button {
	position: absolute;
	right: 16px;
	width: 18px;
	height: 18px;
	top: 9px;
}
.show-loc-searchbar-button {
	position: absolute;
	right: 16px;
	width: 18px;
	height: 18px;
	top: 13px;
}
.show-dirs-searchbar-button:hover, .show-loc-searchbar-button:hover {
	filter: invert(0.4) sepia(1) saturate(5) hue-rotate(175deg);
}

.search-results-bg-card {
	position: relative;
	height: auto;
	z-index: 1001;
	width: 100%;
	max-width: 370px;
	min-width: 270px;
	min-height: 0px;
	max-height: 24rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: #ffffff;
	/* box-shadow: 0px 0px 12px 6px rgba(15, 15, 15, 0.2); */
	box-shadow: -5px 0 5px -5px rgba(15, 15, 15, 0.2), 5px 0 5px -5px rgba(15, 15, 15, 0.2);
	border-radius: 2px;
	border-top: solid 1px;
	border-top-color: rgba(15, 15, 15, 0.4);
	padding: 0px;
	padding-bottom: 0px;
	margin-top: -2px;
}
.search-result-div {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 3rem;
	line-height: 2.3rem;
	overflow: hidden;
	padding: 0px;
	white-space: nowrap;
	width: 100%;
	/* border-top: 1px groove; */
	background-color: #ffffff;
	justify-content: flex-start;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
	font-family: "Ubuntu Condensed", sans-serif;
}
.search-result-div span {
	margin-left: 4px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}	
.search-result-div:hover {
	background-color: rgba(180, 229, 252, 0.5);
}

/* Search Result Div Text Styles */
.search-result-place {
	font-size: 16px;
	font-weight: normal;
	color: rgba(38, 48, 65, 0.986);
}
.search-result-address {
	color: rgba(44, 51, 65, 0.726);
	font-size: 14px;
}
.item-city {
	font-size: 14px;
	color: rgba(44, 51, 65, 0.726);
	font-weight: normal;
}
.region-country {
	font-size: 14px;
	color: rgba(44, 51, 65, 0.726);
	font-weight: normal;
}

.search-result-icon {
	width: 15px;
	height: 15px;
	margin-left: 10px;
}

.location-card {
	height: auto;
	margin-top: 20px;
}

.location-data {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin: 10px 10px;
}

.get-dirs-button {
	height: 25px;
	background-color: var(--blue_main);
	color: white;
	border: none;
	border-radius: 2px;
	margin-top: 8px;
	width: auto;
	align-self: flex-start;
}

.location-place {
	font-size: 17px;
	font-family: "Ubuntu", sans-serif;
	color: rgba(15, 15, 15, 0.8);
}
.location-address {
	font-size: 15px;
	font-family: "Ubuntu", sans-serif;
	color: rgba(15, 15, 15, 0.5);
}
.location-subtitle {
	font-size: 13px;
	font-family: "Ubuntu", sans-serif;
	color: rgba(15, 15, 15, 0.5);
}

.location-data-image {
	height: 100px;
	width: 100%;
}

.map-hud-card {
	width: 100%;
	max-width: 370px;
	min-width: 250px;
	/* min-height: 250px; */
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0px 0px 12px 6px rgba(15, 15, 15, 0.2);
	border-radius: 6px;
	padding: 0px;
	padding-bottom: 5px;
	margin-top: 5px;
}

/* DIRECTIONS CARD */

.dirs-burger {
	width: 30px;
	height: 30px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	left: 10px;
	top: 14px;
}
.dirs-burger:hover > .search-bar-button__burger {
	background: rgb(47, 160, 212);
}
.dirs-burger:hover > .search-bar-button__burger::after {
	background: rgb(47, 160, 212);
}
.dirs-burger:hover > .search-bar-button__burger::before {
	background: rgb(47, 160, 212);
}

.directions-card {
	align-items: center;
	display: flex;
	flex-direction: column;
	align-content: center;
	/* height: 6.5rem; */
	height: 100%;
}

.dirs-label {
	font-family: "Ubuntu", sans-serif;
}

.dirs-fromto {
	width: 60%;
	grid-row-gap: 0px;
	grid-column-gap: 15px;
	grid-template-rows: auto auto;
	align-items: center;
	margin: 0 10px 10px;
	margin-top: 10px;
	height: 85%;
}

.dirs-input-bar {
	border-radius: 0px;
	border: 0;
	width: 100%;
	/* background-color: rgba(96, 112, 155, 0.2); */
	background-color: #fff;
	height: 2.25rem;
}
.dirs-input-bar:focus {
	outline: none;
}

.from-bar {
	margin-top: 0px;
}
.to-bar {
	margin-top: 0px;
	border-top: 1px solid;
	border-top-color: rgba(30, 30, 30, 0.3);
	transition: 0.25s all ease-in-out;
}

.directions-buttons {
	display: flex;
	flex-direction: row;
	margin: 2em;
}

.dirs-to-icon {
	width: 10px;
	height: 10px;
	background: url(../../resources/map/destIcon.svg) no-repeat;
}
.dirs-from-icon {
	width: 10px;
	height: 10px;
	background: url(../../resources/map/waymessage_icon.svg) no-repeat;
}

.dirs-from-search-results {
	display: flex;
	flex-direction: column;
	top: 10px;
}
.dirs-to-search-results {
	display: flex;
	flex-direction: column;
	top: 10px;
}

/* .dirs-title {
} */

.hud-card-button {
	margin: 5px;
    font-size: 18px;
    padding: 2px 10px;
    border: 0;
    font-family: "Ubuntu", sans-serif;
	color: var(--white_main);
	background-color: var(--blue_main);
    border-radius: 2px;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.display-none {
	z-index: -1;
	display: none;
}

.map-marker {
	width: 45px;
	height: 45px;
	top: -10px;
	z-index: 1000;
}