/* MAP HOME DOCK */

.home-dock-title {
	text-decoration: none;
	color: #ffffff;
	transition: 0.15s all ease-in-out;
	margin-top: 10px;
}
.home-dock-title:hover {
	text-decoration: none;
	color: var(--blue_main);
}

.map-home-dock {
	position: absolute;
	width: 250px;
	height: 100%;
	top: 0px;
	left: 0px;
    z-index: 1000;
    background-color: var(--home_dock_bg);
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateX(-100%);
	transition: 150ms all ease-in-out;
	padding: 0px;
}

.map-home-dock-open {
	transform: translateX(0%);
}

.dock-tabs {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.map-home-dock-close-button {
	z-index: 1000;
	width: 25px;
	height: 25px;
	padding: 2px 0px;
	border: none;
	background-color: #ffffff;
	border-radius: 2px;
	background: none;
	transition: all 100ms ease-in-out;
	cursor: default;
	position: absolute;
	top: 28px;
	right: -37px;
}
.map-home-dock-close-button:hover {
	width: 28px;
	height: 32px;
}
.map-home-dock-close-button:focus {
	outline: none;
}
.map-home-dock-close-button-open {
	top: 5px;
	right: 10px;
}

.dock-waymessage-button {
	width: 200px;
	height: 4vh;
	background-color: #ffffff; /*#FFCA85;*/
	outline: none;
	border-radius: 3px;
	transition: 60ms all ease-in-out;
	margin-left: 20px;
	margin-top: 15px;
}

.dock-waymessage-button:hover {
	background-color: var(--blue_main);
}

/* MAP HOME DOCK CONTENT */

ul {
	margin: 0;
}

.full-width-div {
	width: 100%;
	padding: 0px 0 0px 0;
	/* border-bottom: 1px solid #d3dae0; */
	display: flex;
	flex-direction: column;
}
.full-width-div a {
	margin-left: 20px;
	font-size: 15px;
}
.full-width-div li {
	margin-left: 20px;
	list-style: none;
	margin-bottom: 8px;
}

.display-my-location-li-div {
	margin-bottom: 15px;
	text-align: left;
	margin-left: 40px;
	text-decoration: none;
	list-style: none;
}
.dock-section-title {
	/* margin-bottom: 20px; */
	font-size: 16px;
	text-align: left;
	margin-left: 15px;
	color: var(--blue_main);
	font-weight: bolder;
	background-color: transparent;
	border: none;
	transition: 200ms all ease-in-out;
	padding: 6px;
}
.dock-section-title:hover {
	background-color: rgba(200, 200, 200, 0.6);
}
.dock-section-title:focus {
	outline: none;
}

.dock-toggle-label {
	display: flex;
	flex-direction: row;
}
.dock-switch {
	display: none;
}

.text-center {
	text-align: center;
	letter-spacing: 3px;
	font-weight: bolder;
}

.dock-tab-bar {
	display: flex;
	flex-direction: row;
	margin-top: 4%;
	background-color: rgb(45, 44, 53);
	padding: 0px;
}

.dock-tab-section {
	max-height: 0px;
	/* height: 0; */
	/* transform: scaleY(0); */
	width: 100%;
	transition: 0.5s cubic-bezier(0, 1, 0, 1);
	transform-origin: top;
	overflow: hidden;

}

.dock-tab-section-open {
	max-height: 300px;
	/* transform: scaleY(1); */
	transition: max-height 0.6s ease-in-out;
}


/* PLACES TAB */
.add-place-tab-button-div {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
}

.add-place-tab-button {
	background-color: transparent;
	border: none;
	outline: none;
	width: 80%;
	margin-top: 12px;

	&:hover {
		background-color: rgba(200, 200, 200, 0.4);
	}

	&:focus {
		outline: none;
	}
}

.saved-place-div {
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	justify-content: space-between;

	&:hover {
		background-color: rgba(200, 200, 200, 0.6);
	}

	.location-data {
		overflow: normal;
		padding: 0px;
		margin: 5px;
		white-space: nowrap;
		cursor: pointer;

		.saved-location-title {
			font-size: 15px;
		}

		.saved-location-place {
			font-size: 13px;
		}
	}

	

	.loc-remove-button-div {
		display: flex;
		flex-direction: column;
		justify-content: center;

		.loc-remove-button {
			border-radius: 5px;
			background-color: rgba(197, 197, 197, 0);
			color: rgb(151, 151, 151);
			text-align: center;
			padding: 0px 6px;
			height: 1.6rem;
			border: 1px solid rgba(200, 200, 200, 0.6);
			transition: 150ms all ease-in-out;
			margin-right: 1rem;

			&:hover {
				color: #fff;
				background-color: var(--blue_main);
			}
			&:focus {
				outline: none;
			}
		}
	}
}