.routes-card-bg {
	background-color: white;
	border-radius: 2px;
	margin-top: 3px;
	// outline: 1px solid rgba(100, 100, 100, 0.2);
	z-index: 123230;
}

.button-active {
	background-color: rgba(73, 114, 202, 0.89) !important;
}

.travel-profiles-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	height: auto;
	border-bottom: 1px solid rgba(100, 100, 100, 0.2);

	.travel-profile-button {
		img {
			width: 20px;
			height: 20px;
			pointer-events: none;
		}
		width: 25%;
		height: 100%;
		padding: 5px;
		background-color: rgba(136, 136, 136, 0.1);
		display: flex;
		flex-direction: row;
		justify-content: center;
		transition: 120ms all ease-in-out;

		&:hover {
			background-color: rgba(79, 129, 206, 0.2);
		}
	}

	.routes-container {
		width: 100%;
		height: auto;
		background: #fff;
		margin: 10px;
	}

}

.route-option {
	display: flex;
	flex-direction: row;
	padding: 10px;

	.route-icon {
		margin: 0 10px;
	}

	.route-data {
		margin-left: 10px;
		display: flex;
		flex-direction: column;
		overflow-x: nowrap;
		
		.highlight {
			color: var(--blue_main);
		}

		.route-top {

		}

		.route-bottom {
			display: flex;
			flex-direction: row;
			font-size: 8pt;
			justify-content: space-between;

			div {
				margin-right: 1rem;
			}
		}
	}
}

.routes-title {
	font-family: "Ubuntu", sans-serif;
	font-size: 10pt;
	padding: 6px 10px;
	background-color: rgba(219, 218, 218, 0.2);
	width: 100%;
}