/* Save Location Dialogue */
.save-location-dialogue-div {
	display: normal;
	opacity: 1;
	transition: 250ms all ease-in-out;
}

.div-hidden {
	opacity: 0;
	transition: 250ms all ease-in-out;
	pointer-events: none;
}

// .save-location-dialogue-div {
// 	display: normal;
// }

.save-location-dialogue-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: rgba(77, 77, 77, 0.6);
}

.save-location-dialogue {
	z-index: 1050;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%);
	width: 40%;
	border: none;
	max-width: 22rem;
	min-width: 18rem;
	height: auto;
	padding: 0;
	// padding: 30px 20px 30px 20px;
}

.title-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(141, 141, 141, 0.6);
	margin: 0;
	padding: 10px 0;
	height: auto;

	.title-image {
		margin: auto;
		width: 75px;
	}
}

.dialogue-text {
	font-size: 18px;
	text-align: center;
	padding: 8px;
	border-bottom: 1px solid rgba(102, 101, 101, 0.6);
	font-family: "Ubuntu", sans-serif;
	color: var(--gray_main);
}

.center-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
	
	.input-container {
		width: 100%;
		margin-bottom: 10px;
		height: auto;
	}

	.icon {
		padding: 10px;
		background-color: var(--blue_main);
		min-width: 40px;
		height: auto;
		text-align: center;

		position: absolute;
		margin: 0px;
		color: white;
		height: 2rem;
		
		img {
			width: auto;
			height: 1.1rem;
			color: white;
			fill: white;
			transform: translateY(-50%);
		}
	}

	.location-input-bar {
		width: 100%;
		height: 2rem;
		text-align: center;
		border: none;
		border: 1px solid rgba(218, 218, 218, 0.356);
		border-radius: 2px;
		transition: 100ms all ease-in-out;
	
		&:focus {
			outline: none;
			border-color: rgba(141, 141, 141, 0.6);
		}
	}

}

.window-title {
	text-align: center;
	font-family: "Ubuntu", sans-serif;
}

.save-location-button {
	height: 3rem;
	background-color: var(--blue_main);
	color: white;
	border: none;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	outline: none;
	margin-top: 20px;
	align-self: flex-start;
	// margin-right: 8px;
	width: 100%;
	transition: 120ms all ease-in-out;

	&:hover {
		background-color: #677df7;
	}
}